@import url("./reset.css"); /* Import CSS reset to ensure consistent styling across browsers */

:root {
  --bg-color: #2d3250;
  --primary-accent: #f9b17a;
  --main-color: #424769;
  --secondary-color: #676f9d;
  --white: #ffffff;
  --green: #4caf50;
  --red: #f44336;
  --yellow: #ffeb3b;
}

body {
  background-color: var(--bg-color);
  color: var(--white);
}

.main-container {
  display: flex;
  height: 100dvh;
}

.image-container {
  flex: 1 1 0;
  background-image: url("../../public/assets/images/mountain-by-samuel-ferrara.jpg");
  background-size: cover;
  /*background-position: center;*/
}

.form-container {
  flex: 2 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
}

.title-container > p {
  width: 750px;
  font-size: 1.25rem;
}

.title-container > p:first-child {
  font-weight: 700;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button-container {
  align-self: flex-start;
}

.button-container > button {
  padding: 1rem 2rem;
  background-color: var(--primary-accent);
  border-style: none;
  border-radius: 5px;
  color: var(--bg-color);
  font-weight: 700;
  box-shadow: 0 0 10px 1px var(--primary-accent);
  transition:
    box-shadow 0,
    3s ease;
}

.button-container > button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 2px var(--primary-accent);
}

.title-container > p,
form > fieldset > legend,
form > fieldset > ul,
.button-container > button,
.log-in-container > p {
  margin-left: 3rem;
}

form > fieldset {
  margin: 0;
  border-style: none;
  padding: 16px 0 32px 0;
}

form > fieldset > legend {
  font-weight: 700;
}

form > fieldset > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

form > fieldset > ul > li {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
  border-left: 2px solid var(--main-color);
  padding: 8px;
}

form > fieldset > ul > li label {
  font-size: 1rem;
  color: var(--secondary-color);
}

form > fieldset > ul > li > input {
  height: 2rem;
  background-color: var(--main-color);
  color: var(--white);
  border-style: none;
  caret-color: var(--white);
}

.log-in-container > p > a {
  text-decoration: none;
  font-weight: 700;
  color: var(--primary-accent);
}

input:focus {
  outline: none;
}

.in-focus {
  border-left-color: var(--primary-accent);
}

.valid {
  border-left-color: var(--green) !important;
  color: var(--green);
}

.error {
  border-left-color: var(--red) !important;
  color: var(--red);
}

.warning {
  border-left-color: var(--yellow) !important;
  color: var(--yellow);
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.logo-container {
  margin-top: 50%;
  /*margin-top: 90%;*/
  /*margin-top: 15%;*/
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.logo-container > h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
}

.climber-icon {
  width: 4rem;
  margin-right: 1rem;
}

.image-credit {
  text-align: center;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  /*backdrop-filter: blur(10px);*/
}
